


	
  
  

  <br>
  

 <div id="main">
  <div class="w-75 mx-auto">
    <div class="card-deck">
      <!-- <p>Add the .stretched-link class to a link inside the card, and it w</p> -->
      <div class="card">
        <h4>Music Events</h4> 
        <img class="card-img-top" src="/assets/music card.jpg" alt="solutohub music events" style="width:100%">
        <div class="card-body">
           <h4 class="card-title">Music Events</h4> 
          <p class="card-text">Enjoy the finest music and rock shows</p>
          <a routerLink="bookevent" class="btn btn-primary stretched-link">Book Event</a>
        </div>
      </div>
    
      <div class="card">
        <h4>Fashion Events</h4>
        <img class="card-img-top" src="/assets/fashion card.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <!-- <h4 class="card-title">John Doe</h4> -->
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a routerLink="bookevent" class="btn btn-primary stretched-link">Book Event</a>
        </div>
      </div>
      <div class="card">
        <h4>Festivals</h4>
        <img class="card-img-top" src="/assets/festival card 2.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <!-- <h4 class="card-title">John Doe</h4> -->
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a routerLink="bookevent" class="btn btn-primary stretched-link">Book Event</a>
        </div>
      </div>
      <div class="card" >
        <h4>Family Events</h4>
        <img class="card-img-top" src="/assets/family card.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <!-- <h4 class="card-title">John Doe</h4> -->
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a routerLink="bookevent" class="btn btn-primary stretched-link">Book Event</a>
        </div>
      </div>
    </div>
    <br>
    <div class="card-deck">
      <div class="card" >
        <h4>Automobile Events</h4>
        <img class="card-img-top" src="/assets/automobile card.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <!-- <h4 class="card-title">John Doe</h4> -->
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a routerLink="bookevent" class="btn btn-primary stretched-link">Book Event</a>
        </div>
      </div>
      <div class="card" >
        <h4>Sports Events</h4>
        <img class="card-img-top" src="/assets/sports card.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <!-- <h4 class="card-title">John Doe</h4> -->
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a routerLink="bookevent" class="btn btn-primary stretched-link">Book Event</a>
        </div>
      </div>
      <div class="card" >
        <h4>Food Events</h4>
        <img class="card-img-top" src="/assets/food cards.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <!-- <h4 class="card-title">John Doe</h4> -->
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a routerLink="bookevent" class="btn btn-primary stretched-link">Book Event</a>
        </div>
      </div>
      <div class="card" >
        <h4>Expo's</h4>
        <img class="card-img-top" src="/assets/expo card.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <!-- <h4 class="card-title">John Doe</h4> -->
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a routerLink="bookevent" class="btn btn-primary stretched-link">Book Event</a>
        </div>
      </div>
    </div>
    <br>
    <div class="card-deck">
      <div class="card" >
        <h4>Charity Events</h4>
        <img class="card-img-top" src="/assets/charity card.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <!-- <h4 class="card-title">John Doe</h4> -->
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a routerLink="bookevent" class="btn btn-primary stretched-link">Book Event</a>
        </div>
      </div>
      <div class="card" >
        <h4>educational Events</h4>
        <img class="card-img-top" src="/assets/educational card.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <!-- <h4 class="card-title">John Doe</h4> -->
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a routerLink="bookevent" class="btn btn-primary stretched-link">Book Event</a>
        </div>
      </div>
      <div class="card" >
        <h4>Kids Events</h4>
        <img class="card-img-top" src="/assets/kids card.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <!-- <h4 class="card-title">John Doe</h4> -->
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a routerLink="bookevent" class="btn btn-primary stretched-link">Book Event</a>
        </div>
      </div>
    <!-- <p>Add the .stretched-link class to a link inside the card, and it will make the whole card clickable (the card will act as a link):</p> -->
    <div class="card" >
      <h4>Special Events</h4>
      <img class="card-img-top" src="/assets/special card.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <!-- <h4 class="card-title">John Doe</h4> -->
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a routerLink="bookevent" class="btn btn-primary stretched-link">Book Event</a>
      </div>
    </div>
  </div>
  </div>

<br>
<div id="dd">
  <div id="d1" (click)="move()">
    <a href="#d2" ><img src="/assets/party.png" class="img-fluid" alt="Responsive image"></a>
  </div>
  <div id="d2">
    <img src="/assets/wnbanner.jpg" class="img-fluid" alt="Responsive image">
  </div>
</div>

<br><br>

<img src="/assets/callout2.jpg" class="img-fluid" alt="Responsive image"><br><br>

  
  </div>