mdb-carousel-item{
    margin-top: 50px;
}



.events{
    
    text-decoration: none;
    color:white;
    padding:10px;
    
}

.bbb{
    margin-top: 20px;
    height:70px;
}

.col-sm-2{
    padding:20px;
} 
